<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/admin/IdeaProjects/RestAssuredAPIAutommation"><classes><class name="org.testingAcademy.suits.GET.NOnBDDStyleTestNG"><methods><include name="testGetAllBookingPositive"/><include name="testGetAllBookingNegative"/></methods></class></classes></test></suite>